<div class="row">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00 - Welcome!</td> </tr>
      <tr> <td>Introduction to Python</td> </tr>
      <tr> <td>Repeating actions with loops</td> </tr>
      <tr> <td>Storing data in Python lists</td> </tr>
      <tr> <td>Analyzing data from multiple files</td> </tr>
      <tr> <td>Making Choices (Conditional statements)</td> </tr>
      <tr> <td>Coffee break</td> </tr>
      <tr> <td>Functions</td> </tr>
      <tr> <td>Handling errors</td> </tr>
      <tr> <td>More...</td> </tr>
    </table>
</div>
